@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .label {
    @apply block mb-1 text-sm font-medium text-gray-900 dark:text-white;
  }

  .input {
    @apply block border w-full p-2.5 sm:text-sm rounded-lg;
    @apply bg-gray-50 border-gray-300 text-gray-900;
    @apply focus:border-primary-600 focus:ring-primary-600;
  }
}
